.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__lang-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin:0;
  margin: 3.59% 3.75% 4.84% 0;
}

.header__lang-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.header__lang-link_ru {
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.header__lang-link_en {
  margin-left: 18px;
  text-decoration: none;
}

.header__logo {
  margin: 2.19% 69.61% 4.38% 3.75%;
  max-height: 52;
  max-width: 176;
}

.lead {
  display: flex;
  flex-direction: column;
  margin: 0 0 7.19%;
}

.lead__title {
  margin: 0 auto 2.5%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  margin: 5% auto 0;
  max-width: 76.88%;
  max-height: 48.05%;
}

.lead__caption {
  margin: 0.63% 0 0 11.56%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 0 0 7.19% 11.56%;
  max-width: 53.91%;
}

.intro__title {
  margin: 0 0 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin: 0 0 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.intro__numbers {
  font-weight: normal;
}