.footer__link-container {
  margin-right: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link-container {
    margin-bottom: 32px;
  }

  .footer__link-container:last-child {
    margin-bottom: 0;
  }
}